{
    "listener" : {
        "_comment_" : "listener is activated when setting accepted handler. if thread is 0, default is core count",
        "thread" : 0,
        "listen" : [
            {
                "name": "first_public",
                "ip" : "127.0.0.1",
                "port" : 10001,
                "public" : true
            },
            {
                "name": "first_private",
                "ip" : "127.0.0.1",
                "port" : 10002,
                "public" : true
            },
            {
                "name": "second_public",
                "ip" : "127.0.0.1",
                "port" : 20001,
                "public" : true
            }
        ]
    },
    "connecter" : {
        "_comment_" : "try to connect when request connect",
        "thread" : 1,
        "connect" : [
            {
                "name": "test_client",
                "ip" : "127.0.0.1",
                "port" : 10001
            }
        ]
    },
    "log" : {
        "_comment_" : "level in normal > error > warning > debug",
        "level" : "debug",
        "debug categories" : []
    }
}