{
    "application" : {
        "name" : "Sample Server",
        "config root" : "../../config/",
        "resource root"  : "../../resource/"
    },
    "modules" : [
        {
            "dll" : "network.dll",
            "config" : "network.config",
            "use" : true
        },
        {
            "dll" : "web.dll",
            "config" : "web.config",
            "use" : true
        },
        {
            "dll" : "timer.dll",
            "config" : "timer.config",
            "use" : true
        },
        {
            "dll" : "server.dll",
            "config" : "first_server.config",
            "use" : true
        }
    ]
}