{
    "application" : {
        "name" : "Sample Server",
        "config root" : "D:/Data/Code/sample/config/"
    },
    "modules" : [
        {
            "dll" : "network.dll",
            "config" : "network.config",
            "use" : true
        },
        {
            "dll" : "restful.dll",
            "config" : "restful.config",
            "use" : true
        },
        {
            "dll" : "timer.dll",
            "config" : "timer.config",
            "use" : true
        },
        {
            "dll" : "server.dll",
            "config" : "first_server.config",
            "use" : true
        }
    ]
}