{
    "_comment_" : "id is server id. if thread is 0, default is core count",
    "id" : 1,
    "group id" : 1,
    "thread" : 0,
    "network config" : {
        "use listeners" : [
            "second_public"
        ],
        "use connecters" : [
            "first_private"
        ]
    },
    "restful config" : {      
        "target restful listeners" : [
        ]
    },
    "log" : {
        "level" : "debug",
        "debug categories" : []
    }
}