{
    "application" : {
        "name" : "Test Client",
        "config root" : "D:/Data/Code/sample/config/"
    },
    "modules" : [
        {
            "dll" : "network.dll",
            "config" : "network.config",
            "use" : true
        },
        {
            "dll" : "timer.dll",
            "config" : "timer.config",
            "use" : true
        },
        {
            "dll" : "test_client.dll",
            "config" : "test_client.config",
            "use" : true
        }
    ]
}