{
    "network config" : {
        "use listeners" : [
        ],
        "use connecters" : [
            {
                "name" : "test_client",
                "initial reconnect count" : 10
            }
        ]
    },
    "restful config" : {      
        "target restful listeners" : [
        ]
    },
    "log" : {
        "level" : "debug",
        "debug categories" : []
    }
}