{
    "_comment_" : "listener is activated when setting accepted handler. timeout unit is second.",
    "restful listen" : [
        {
            "name": "sample_restful",
            "ip" : "127.0.0.1",
            "port" : 30001,
            "timeout" : 10
        }
    ],
    "log" : {
        "_comment_" : "level in normal > error > warning > debug",
        "level" : "debug",
        "debug categories" : []
    }
}